## Decision Analysis - Project 1

Authors:
* Szudzik Oskar, 148245
* Moras Krystian, 148243

In [1]:
import pandas as pd

In [22]:
d = {'price':[], 'area':[], 'aesthetics':[], 'commutation':[], 'gym_num': []}
df = pd.DataFrame(d)
df

Empty DataFrame
Columns: [price, area, aesthetics, commutation, gym_num]
Index: []

Normalized data from google sheet: https://docs.google.com/spreadsheets/d/1VsbFXimgnc1h46ZDxTlhOrBB5JrDE3e36HZFIbUKY0M/edit?usp=sharing

In [4]:
data = [
    [0.1, 0.1, 0.17, 0.0, 0.1, 0.13, 0.03, 1.0, 0.13, 0.1, 0.16, 0.11, 0.13, 0.17],
    [0.16, 0.38, 0.36, 0.0, 0.23, 0.27, 0.34, 1.0, 0.47, 0.19, 0.38, 0.38, 0.2, 0.58],
    [0.63, 0.13, 0.5, 0.38, 0.69, 0.63, 0.0, 1.0, 0.5, 0.75, 0.5, 0.38, 0.75, 0.88],
    [0.7, 0.76, 0.68, 0.81, 1.0, 0.14, 0.38, 0.08, 0.16, 0.24, 0.76, 0.0, 0.76, 0.65],
    [0.67, 0.56, 0.89, 0.11, 0.33, 0.22, 0.0, 0.11, 0.11, 0.0, 1.0, 0.22, 0.11, 0.67]
]

In [23]:
for i in range(len(data[0])):
    new_row = pd.DataFrame({'price': [data[0][i]],
                             'area': [data[1][i]], 
                             'aesthetics': [data[2][i]], 
                             'commutation':[data[3][i]], 
                             'gym_num':[data[4][i]]})
    df = pd.concat([df, new_row], ignore_index=True)
df

    price  area  aesthetics  commutation  gym_num
0    0.10  0.16        0.63         0.70     0.67
1    0.10  0.38        0.13         0.76     0.56
2    0.17  0.36        0.50         0.68     0.89
3    0.00  0.00        0.38         0.81     0.11
4    0.10  0.23        0.69         1.00     0.33
5    0.13  0.27        0.63         0.14     0.22
6    0.03  0.34        0.00         0.38     0.00
7    1.00  1.00        1.00         0.08     0.11
8    0.13  0.47        0.50         0.16     0.11
9    0.10  0.19        0.75         0.24     0.00
10   0.16  0.38        0.50         0.76     1.00
11   0.11  0.38        0.38         0.00     0.22
12   0.13  0.20        0.75         0.76     0.11
13   0.17  0.58        0.88         0.65     0.67

### PROMETHEE I

In [26]:
# TODO

### PROMETHEE II

In [28]:
# TODO

### ELECTRE

In [27]:
# TODO

### COMPARISON