## Decision Analysis - Project 1

Authors:
* Szudzik Oskar, 148245
* Moras Krystian, 148243

In [1]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('apartments.csv',decimal=",")
df

,link,price,address,directions,area,aesthetics,commutation,gym_num
0,https://www.otodom.pl//pl/oferta/2-niezalezne-...,2350,"Poznań, Piątkowo, ul. Zygmunta Wojciechowskiego",https://www.google.com/maps/dir/Centrum%20Wyk%...,40.0,7.0,40,7
1,https://www.otodom.pl//pl/oferta/2pokojowe-ata...,2300,"Poznań, Piątkowo, osiedle Stefana Batorego",https://www.google.com/maps/dir/Centrum%20Wyk%...,50.0,3.0,42,6
2,https://www.otodom.pl//pl/oferta/nowe-mieszkan...,2800,"Poznań, Grunwald, ul. Ptasia",https://www.google.com/maps/dir/Centrum%20Wyk%...,49.0,6.0,39,9
3,https://www.otodom.pl//pl/oferta/mieszkanie-2-...,1700,"Poznań, Naramowice, ul. Radłowa",https://www.google.com/maps/dir/Centrum%20Wyk%...,32.5,5.0,44,2
4,https://www.otodom.pl//pl/oferta/nowe-komforto...,2350,"Podolany, Poznań, Poznań",https://www.google.com/maps/dir/Centrum%20Wyk%...,43.0,7.5,51,4
5,https://www.otodom.pl//pl/oferta/centrum-przy-...,2500,"Poznań, Centrum, ul. Franciszka Ratajczaka 21",https://www.google.com/maps/dir/Centrum%20Wyk%...,45.0,7.0,19,3
6,https://www.otodom.pl//pl/oferta/mieszkanie-la...,1900,"Poznań, Łazarz, ul. Głogowska 65",https://www.google.com/maps/dir/Centrum%20Wyk%...,48.0,2.0,28,1
7,https://www.otodom.pl//pl/oferta/luksusowy-apa...,8000,"Poznań, Chwaliszewo, ul. Tylne Chwaliszewo",https://www.google.com/maps/dir/Centrum%20Wyk%...,78.0,10.0,17,2
8,https://www.otodom.pl//pl/oferta/paryski-szyk-...,2500,"Poznań, Górna Wilda, ul. Różana 21",https://www.google.com/maps/dir/Centrum%20Wyk%...,54.0,6.0,20,2
9,https://www.otodom.pl//pl/oferta/nowe-2-pokojo...,2350,"Poznań, Starołęka, ul. Wagrowska",https://www.google.com/maps/dir/Centrum%20Wyk%...,41.0,8.0,23,1
10,https://www.otodom.pl//pl/oferta/2-pokoje-podo...,2700,"Poznań, Podolany, ul. Jasielska",https://www.google.com/maps/dir/Centrum%20Wyk%...,50.0,6.0,42,10
11,https://www.otodom.pl/pl/oferta/klimatyczne-mi...,2400,"Poznań, Rzeczpospolitej",https://www.google.com/maps/dir/Centrum+Wykład...,50.0,5.0,14,3
12,https://www.otodom.pl/pl/oferta/dwupokojowe-mi...,2500,"Poznań, Piątkowo",https://www.google.com/maps/dir/Centrum+Wyk%C5...,41.5,8.0,42,2
13,https://www.otodom.pl/pl/oferta/mieszkanie-brz...,2800,"Poznań, grunwald, brzask",https://www.google.com/maps/dir/Centrum+Wykład...,59.0,9.0,38,7

Normalized data from google sheet: https://docs.google.com/spreadsheets/d/1VsbFXimgnc1h46ZDxTlhOrBB5JrDE3e36HZFIbUKY0M/edit?usp=sharing

In [32]:
alternatives = df[["price","area","aesthetics","commutation","gym_num"]]
alternatives

    price  area  aesthetics  commutation  gym_num
0    2350  40.0         7.0           40        7
1    2300  50.0         3.0           42        6
2    2800  49.0         6.0           39        9
3    1700  32.5         5.0           44        2
4    2350  43.0         7.5           51        4
5    2500  45.0         7.0           19        3
6    1900  48.0         2.0           28        1
7    8000  78.0        10.0           17        2
8    2500  54.0         6.0           20        2
9    2350  41.0         8.0           23        1
10   2700  50.0         6.0           42       10
11   2400  50.0         5.0           14        3
12   2500  41.5         8.0           42        2
13   2800  59.0         9.0           38        7

In [56]:
INDIFFERENCE_THRESHOLDS = [200, 5, 1, 5, 3]
PREFERENCE_THRESHOLDS = [400, 10, 3, 10, 5]

### PROMETHEE I

In [33]:
alternatives['id'] = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14']
alternatives

C:\Users\Admin\AppData\Local\Temp\ipykernel_16484\311432500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  alternatives['id'] = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14']

    price  area  aesthetics  commutation  gym_num  id
0    2350  40.0         7.0           40        7  01
1    2300  50.0         3.0           42        6  02
2    2800  49.0         6.0           39        9  03
3    1700  32.5         5.0           44        2  04
4    2350  43.0         7.5           51        4  05
5    2500  45.0         7.0           19        3  06
6    1900  48.0         2.0           28        1  07
7    8000  78.0        10.0           17        2  08
8    2500  54.0         6.0           20        2  09
9    2350  41.0         8.0           23        1  10
10   2700  50.0         6.0           42       10  11
11   2400  50.0         5.0           14        3  12
12   2500  41.5         8.0           42        2  13
13   2800  59.0         9.0           38        7  14

In [65]:
def marginal_pref_index(alternatives, criteria, i, j, k):
    if criteria[k] * (alternatives[i, k] - alternatives[j, k]) >= PREFERENCE_THRESHOLDS[k]:
        preference = 1
    elif criteria[k] * (alternatives[i, k] - alternatives[j, k]) >= INDIFFERENCE_THRESHOLDS[k]:
        preference = 0
    else:
        preference = (criteria[k] * (alternatives[i, k] - alternatives[j, k]) - INDIFFERENCE_THRESHOLDS[k]) / (PREFERENCE_THRESHOLDS[k] - INDIFFERENCE_THRESHOLDS[k])
    return preference


def calc_comp_pref_matrix(alternatives, weights, criteria):
    n, m = alternatives.shape
    pref_matrix = np.zeros((n, n))
    for i in range(n):
        for j in range(n):
            if i == j:
                pref_matrix[i, j] = 0
            else:                
                pref_matrix[i, j] = sum([weights[k] * marginal_pref_index(alternatives, criteria, i, j, k) for k in range(m)])
                # jeżeli suma wag nie będzie 1 to jeszcze / sumę wag
    # print(pref_matrix)
    return pref_matrix


def calc_outranking_flows(num_of_alts, pref_matrix):
    outranking_flow_pos = np.zeros(num_of_alts)
    outranking_flow_neg = np.zeros(num_of_alts)
    
    for n in range(num_of_alts):
        outranking_flow_pos[n] = sum(pref_matrix[n, :])
        outranking_flow_neg[n] = sum(pref_matrix[:, n])
    # print(outranking_flow_pos, outranking_flow_neg)
    return outranking_flow_pos, outranking_flow_neg

def produce_ranking()

In [58]:
def promethee(df, criteria, weights):
    alternatives = df.iloc[:, :-1].values
    ids = df.iloc[:, -1].values

    # Normalize the alternatives matrix
    # n, m = alternatives.shape
    # norm_alts = np.zeros_like(alternatives)
    # for j in range(m):
        # norm_alts[:, j] = (alternatives[:, j] - alternatives[:, j].min()) / (alternatives[:, j].max() - alternatives[:, j].min())

    pref_matrix = calc_comp_pref_matrix(alternatives, weights, criteria)

    outranking_flow_pos, outranking_flow_neg = calc_outranking_flows(len(ids), pref_matrix)

    ranking_pos = outranking_flow_pos.sort_values(ascending=False)
    ranking_pos = ranking_pos.reset_index(drop=True)

    ranking_neg = outranking_flow_pos.sort_values(ascending=False)
    ranking_neg = ranking_pos.reset_index(drop=True)

    produce_ranking()

    return ranking,

In [59]:
df = pd.DataFrame({
    'Cost': [1000, 5000, 3000, 2000, 4000],
    'Performance': [9, 70, 80, 60, 75],
    'Reliability': [0.1, 0.8, 0.7, 0.6, 0.5],  
    'id': ['A', 'B', 'C', 'D', 'E']
    })

# Define the criteria and weights
criteria = [-1, 1, 1]
weights = [0.3, 0.4, 0.3]

# Run the PROMETHEE algorithm
ranking, outranking_df = promethee(df, criteria, weights)

# Print the ranking and outranking flows
print('Ranking:')
print(ranking)
print('Outranking Fl')

[[ 0.    -5.235 -6.02  -4.405 -5.59 ]
 [-5.945  0.    -4.635 -4.52  -2.705]
 [-2.96   0.535  0.    -1.535  0.18 ]
 [-1.475 -1.08  -1.865  0.    -1.435]
 [-4.49   0.105 -2.78  -3.065  0.   ]]
Ranking:
   Outranking Flow
0            11.52
1             7.67
2            -0.68
3            -6.38
4           -12.13
Outranking Fl

### PROMETHEE II

In [28]:
# TODO

### ELECTRE

In [27]:
# TODO

### COMPARISON